<!DOCTYPE html>
<html>

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="Influencer Marketing Asia">
	<!-- Meta Description -->
	<meta name="description" content="{{meta.description}}">
	<!-- Meta Keyword -->
	<meta name="keywords" content="{{meta.keywords}}">
	<!-- Meta Canonical -->
	<link rel="canonical" href="{{meta.canonical}}" />
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>{{meta.title}}</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="/css/linearicons.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/scss/bootstrap.css">
	<link rel="stylesheet" href="/css/owl.carousel.css">
	<link rel="stylesheet" href="/scss/main.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	 crossorigin="anonymous">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125921171-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-125921171-1');
	</script>
	<script src="/js/vendor/jquery-2.2.4.min.js"></script>

</head>

<body>
	<div id="header">
		<!-- Start Header Area -->
		<header class="default-header">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<a class="navbar-brand" href="/">
						<img src="/img/logo.png" alt="" class="logo">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
						<ul class="navbar-nav">
							{{!-- <li>
								<a href="/articles">Articles</a>
							</li> --}}
							<li class="dropdown">
								<a class="dropdown-toggle" href="/articles" id="navbardrop" data-toggle="dropdown">
									Articles
								</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="/articles/strategy">Strategy</a>
									<a class="dropdown-item" href="/articles/tips">Tips</a>
									<a class="dropdown-item" href="/articles/insights">Insights</a>
									<a class="dropdown-item" href="/articles">All Articles</a>
								</div>
							</li>
							<li>
								<a href="/article/influencer-marketing-glossary">Glossary</a>
							</li>
							{{!-- <li>
								<a href="#news">Reports</a>
							</li> --}}
							<li>
								<a href="/newsletter">IMA Weekly</a>
							</li>
							<li>
								<a href="/aboutus">About Us</a>
							</li>
							<!-- Dropdown -->
							{{!--
							<li class="dropdown">
								<a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
									Pages
								</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="single.html">Single</a>
									<a class="dropdown-item" href="category.html">Category</a>
									<a class="dropdown-item" href="search.html">Search</a>
									<a class="dropdown-item" href="archive.html">Archive</a>
									<a class="dropdown-item" href="generic.html">Generic</a>
									<a class="dropdown-item" href="elements.html">Elements</a>
								</div>
							</li> --}}
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<!-- End Header Area -->
	</div>
	<div id="body">
		<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
		{{#if messages}}
		<div id="flash-messages" class="container">
			{{#if messages.info}}
			<div class="alert alert-info">
				{{{flashMessages messages.info}}}
			</div>
			{{/if}} {{#if messages.success}}
			<div class="alert alert-success">
				{{{flashMessages messages.success}}}
			</div>
			{{/if}} {{#if messages.warning}}
			<div class="alert alert-warning">
				{{{flashMessages messages.warning}}}
			</div>
			{{/if}} {{#if messages.error}}
			<div class="alert alert-danger">
				{{{flashMessages messages.error}}}
			</div>
			{{/if}}
		</div>
		{{/if}}
		<!-- The content block should contain the body of your template's content-->
		{{{body}}}
	</div>
	<div id="footer">
		<!-- start footer Area -->
		<footer class="footer-area section-gap">
			<div class="container">
				<div class="row">
					<div class="col-lg-3  col-md-12">
						<div class="single-footer-widget">
							<h6>Resources</h6>
							<ul class="footer-nav">
								<li>
									<a href="/platforms">Influencer Marketing Platforms</a>
								</li>
								<li>
									<a href="/articles">Influencer Marketing Articles</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6  col-md-12">
						<div class="single-footer-widget newsletter">
							<h6>Newsletter</h6>
							<p>Get exclusive insights on Influencer Marketing in Asia</p>
							<div id="mc_embed_signup">
								<form target="_blank" novalidate="true" action="https://3secondstolaunch.us8.list-manage.com/subscribe/post?u=71aeabbbfeb1fd15e178abbd4&amp;id=9a159b41c0"
								 method="get" class="form-inline">

									<div class="form-group row" style="width: 100%">
										<div class="col-lg-8 col-md-12">
											<input name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
											 required="" type="email">
											<div style="position: absolute; left: -5000px;">
												<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
											</div>
										</div>

										<div class="col-lg-4 col-md-12">
											<button class="nw-btn primary-btn">Subscribe
												<span class="lnr lnr-arrow-right"></span>
											</button>
										</div>
									</div>
									<div class="info"></div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-3  col-md-12">
						<div class="single-footer-widget mail-chimp">
							<h6 class="mb-20">Contact</h6>
							<p class="mb-1">marcel@influencerma.com</p>
							<p>brian@influencerma.com</p>
						</div>
					</div>
				</div>

				<div class="row footer-bottom d-flex justify-content-between">
					<p class="col-lg-8 col-sm-12 footer-text">Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> Influencer Marketing Asia All rights reserved
						<div class="col-lg-4 col-sm-12 footer-social">
							{{!-- <a href="#">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="#">
								<i class="fa fa-twitter"></i>
							</a> --}}
							{{!-- <a href="#">
								<i class="fa fa-dribbble"></i>
							</a>
							<a href="#">
								<i class="fa fa-behance"></i>
							</a> --}}
						</div>
				</div>
			</div>
		</footer>
		<!-- End footer Area -->
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="/js/vendor/bootstrap.min.js"></script>
	<script src="/js/jquery.ajaxchimp.min.js"></script>
	<script src="/js/parallax.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/jquery.sticky.js"></script>
	<script src="/js/main.js"></script> {{{isAdminEditorJS user}}}
</body>

</html>