/*--------------------------- Color variations ----------------------*/
/* Medium Layout: 1280px */
/* Tablet Layout: 768px */
/* Mobile Layout: 320px */
/* Wide Mobile Layout: 480px */
/* =================================== */
/*  Basic Style 
/* =================================== */
::-moz-selection {
  /* Code for Firefox */
  background-color: #69B4FD;
  color: #fff; }

::selection {
  background-color: #69B4FD;
  color: #fff; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #777777;
  font-weight: 300; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #777777;
  opacity: 1;
  font-weight: 300; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #777777;
  opacity: 1;
  font-weight: 300; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777777;
  font-weight: 300; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #777777;
  font-weight: 300; }

body {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative; }

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none; }

select {
  display: block; }

figure {
  margin: 0; }

a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

iframe {
  border: 0; }

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0; }

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  text-decoration: none;
  outline: 0; }

.card-panel {
  margin: 0;
  padding: 60px; }

/**
 *  Typography
 *
 **/
.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
  font-size: 1em;
  line-height: inherit; }

.gray-bg {
  background: #f9f9ff; }

h1, h2, h3,
h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  color: #222222;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600; }

.h1, .h2, .h3,
.h4, .h5, .h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #222222; }

h1, .h1 {
  font-size: 36px; }

h2, .h2 {
  font-size: 30px; }

h3, .h3 {
  font-size: 24px; }

h4, .h4 {
  font-size: 18px; }

h5, .h5 {
  font-size: 16px; }

h6, .h6 {
  font-size: 14px;
  color: #222222; }

td, th {
  border-radius: 0px; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clear::before, .clear::after {
  content: " ";
  display: table; }

.clear::after {
  clear: both; }

.fz-11 {
  font-size: 11px; }

.fz-12 {
  font-size: 12px; }

.fz-13 {
  font-size: 13px; }

.fz-14 {
  font-size: 14px; }

.fz-15 {
  font-size: 15px; }

.fz-16 {
  font-size: 16px; }

.fz-18 {
  font-size: 18px; }

.fz-30 {
  font-size: 30px; }

.fz-48 {
  font-size: 48px !important; }

.fw100 {
  font-weight: 100; }

.fw300 {
  font-weight: 300; }

.fw400 {
  font-weight: 400 !important; }

.fw500 {
  font-weight: 500; }

.f700 {
  font-weight: 700; }

.fsi {
  font-style: italic; }

.mt-10 {
  margin-top: 10px; }

.mt-15 {
  margin-top: 15px; }

.mt-20 {
  margin-top: 20px; }

.mt-25 {
  margin-top: 25px; }

.mt-30 {
  margin-top: 30px; }

.mt-35 {
  margin-top: 35px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mt-80 {
  margin-top: 80px; }

.mt-100 {
  margin-top: 100px; }

.mt-120 {
  margin-top: 120px; }

.mt-150 {
  margin-top: 150px; }

.ml-0 {
  margin-left: 0 !important; }

.ml-5 {
  margin-left: 5px !important; }

.ml-10 {
  margin-left: 10px; }

.ml-15 {
  margin-left: 15px; }

.ml-20 {
  margin-left: 20px; }

.ml-30 {
  margin-left: 30px; }

.ml-50 {
  margin-left: 50px; }

.mr-0 {
  margin-right: 0 !important; }

.mr-5 {
  margin-right: 5px !important; }

.mr-15 {
  margin-right: 15px; }

.mr-10 {
  margin-right: 10px; }

.mr-20 {
  margin-right: 20px; }

.mr-30 {
  margin-right: 30px; }

.mr-50 {
  margin-right: 50px; }

.mb-0 {
  margin-bottom: 0px; }

.mb-0-i {
  margin-bottom: 0px !important; }

.mb-5 {
  margin-bottom: 5px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-25 {
  margin-bottom: 25px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-90 {
  margin-bottom: 90px; }

.mb-100 {
  margin-bottom: 100px; }

.pt-0 {
  padding-top: 0px; }

.pt-10 {
  padding-top: 10px; }

.pt-15 {
  padding-top: 15px; }

.pt-20 {
  padding-top: 20px; }

.pt-25 {
  padding-top: 25px; }

.pt-30 {
  padding-top: 30px; }

.pt-40 {
  padding-top: 40px; }

.pt-50 {
  padding-top: 50px; }

.pt-60 {
  padding-top: 60px; }

.pt-70 {
  padding-top: 70px; }

.pt-80 {
  padding-top: 80px; }

.pt-90 {
  padding-top: 90px; }

.pt-100 {
  padding-top: 100px; }

.pt-120 {
  padding-top: 120px; }

.pt-150 {
  padding-top: 150px; }

.pb-0 {
  padding-bottom: 0px; }

.pb-10 {
  padding-bottom: 10px; }

.pb-15 {
  padding-bottom: 15px; }

.pb-20 {
  padding-bottom: 20px; }

.pb-25 {
  padding-bottom: 25px; }

.pb-30 {
  padding-bottom: 30px; }

.pb-40 {
  padding-bottom: 40px; }

.pb-50 {
  padding-bottom: 50px; }

.pb-60 {
  padding-bottom: 60px; }

.pb-70 {
  padding-bottom: 70px; }

.pb-80 {
  padding-bottom: 80px; }

.pb-90 {
  padding-bottom: 90px; }

.pb-100 {
  padding-bottom: 100px; }

.pb-120 {
  padding-bottom: 120px; }

.pb-150 {
  padding-bottom: 150px; }

.pr-30 {
  padding-right: 30px; }

.pl-30 {
  padding-left: 30px; }

.pl-90 {
  padding-left: 90px; }

.p-40 {
  padding: 40px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.text-italic {
  font-style: italic; }

.text-white {
  color: #fff; }

.transition {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.section-full {
  padding: 100px 0; }

.section-half {
  padding: 75px 0; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-rigth {
  text-align: right; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.flex-grow {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start; }

.flex-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.flex-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end; }

.flex-top {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

.flex-bottom {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.space-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around; }

.flex-column {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.display-table {
  display: table; }

.light {
  color: #fff; }

.dark {
  color: #222; }

.relative {
  position: relative; }

.overflow-hidden {
  overflow: hidden; }

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.container.fullwidth {
  width: 100%; }

.container.no-padding {
  padding-left: 0;
  padding-right: 0; }

.no-padding {
  padding: 0; }

.section-bg {
  background: #f9fafc; }

@media (max-width: 767px) {
  .no-flex-xs {
    display: block !important; } }

.row.no-margin {
  margin-left: 0;
  margin-right: 0; }

.sample-text-area {
  background: #fff;
  padding: 100px 0 70px 0; }

.text-heading {
  margin-bottom: 30px;
  font-size: 24px; }

b,
i,
sup,
sub,
u,
del {
  color: #69B4FD; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

h1, h2, h3,
h4, h5, h6 {
  line-height: 1.5em; }

.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
  color: #777777; }

.button-area {
  background: #fff; }
  .button-area .border-top-generic {
    padding: 70px 15px;
    border-top: 1px dotted #eee; }

.button-group-area .genric-btn {
  margin-right: 10px;
  margin-top: 10px; }
  .button-group-area .genric-btn:last-child {
    margin-right: 0; }

.genric-btn {
  display: inline-block;
  outline: none;
  line-height: 40px;
  padding: 0 30px;
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .genric-btn:focus {
    outline: none; }
  .genric-btn.e-large {
    padding: 0 40px;
    line-height: 50px; }
  .genric-btn.large {
    line-height: 45px; }
  .genric-btn.medium {
    line-height: 30px; }
  .genric-btn.small {
    line-height: 25px; }
  .genric-btn.radius {
    border-radius: 3px; }
  .genric-btn.circle {
    border-radius: 20px; }
  .genric-btn.arrow {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .genric-btn.arrow span {
      margin-left: 10px; }
  .genric-btn.default {
    color: #222222;
    background: #f9f9ff;
    border: 1px solid transparent; }
    .genric-btn.default:hover {
      border: 1px solid #f9f9ff;
      background: #fff; }
  .genric-btn.default-border {
    border: 1px solid #f9f9ff;
    background: #fff; }
    .genric-btn.default-border:hover {
      color: #222222;
      background: #f9f9ff;
      border: 1px solid transparent; }
  .genric-btn.primary {
    color: #fff;
    background: #69B4FD;
    border: 1px solid transparent; }
    .genric-btn.primary:hover {
      color: #69B4FD;
      border: 1px solid #69B4FD;
      background: #fff; }
  .genric-btn.primary-border {
    color: #69B4FD;
    border: 1px solid #69B4FD;
    background: #fff; }
    .genric-btn.primary-border:hover {
      color: #fff;
      background: #69B4FD;
      border: 1px solid transparent; }
  .genric-btn.success {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent; }
    .genric-btn.success:hover {
      color: #4cd3e3;
      border: 1px solid #4cd3e3;
      background: #fff; }
  .genric-btn.success-border {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff; }
    .genric-btn.success-border:hover {
      color: #fff;
      background: #4cd3e3;
      border: 1px solid transparent; }
  .genric-btn.info {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent; }
    .genric-btn.info:hover {
      color: #38a4ff;
      border: 1px solid #38a4ff;
      background: #fff; }
  .genric-btn.info-border {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff; }
    .genric-btn.info-border:hover {
      color: #fff;
      background: #38a4ff;
      border: 1px solid transparent; }
  .genric-btn.warning {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent; }
    .genric-btn.warning:hover {
      color: #f4e700;
      border: 1px solid #f4e700;
      background: #fff; }
  .genric-btn.warning-border {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff; }
    .genric-btn.warning-border:hover {
      color: #fff;
      background: #f4e700;
      border: 1px solid transparent; }
  .genric-btn.danger {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent; }
    .genric-btn.danger:hover {
      color: #f44a40;
      border: 1px solid #f44a40;
      background: #fff; }
  .genric-btn.danger-border {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff; }
    .genric-btn.danger-border:hover {
      color: #fff;
      background: #f44a40;
      border: 1px solid transparent; }
  .genric-btn.link {
    color: #222222;
    background: #f9f9ff;
    text-decoration: underline;
    border: 1px solid transparent; }
    .genric-btn.link:hover {
      color: #222222;
      border: 1px solid #f9f9ff;
      background: #fff; }
  .genric-btn.link-border {
    color: #222222;
    border: 1px solid #f9f9ff;
    background: #fff;
    text-decoration: underline; }
    .genric-btn.link-border:hover {
      color: #222222;
      background: #f9f9ff;
      border: 1px solid transparent; }
  .genric-btn.disable {
    color: #222222, 0.3;
    background: #f9f9ff;
    border: 1px solid transparent;
    cursor: not-allowed; }

.generic-blockquote {
  padding: 30px 50px 30px 30px;
  background: #f9f9ff;
  border-left: 2px solid #69B4FD; }

.progress-table-wrap {
  overflow-x: scroll; }

.progress-table {
  background: #f9f9ff;
  padding: 15px 0px 30px 0px;
  min-width: 800px; }
  .progress-table .serial {
    width: 15%;
    padding-left: 30px; }
  .progress-table .country {
    width: 20%; }
  .progress-table .visit {
    width: 25%; }
  .progress-table .percentage {
    width: 30%;
    padding-left: 20px; }
  .progress-table .cta {
    width: 10%; }
    .progress-table .cta a {
      background: #37a6ec;
      border: 1px solid #37a6ec;
      padding: 5px 10px;
      font-size: 12px;
      margin-bottom: 0px;
      color: #fff !important;
      border-radius: 5px; }
      .progress-table .cta a:hover {
        background: none;
        border: 1px solid #37a6ec;
        color: #37a6ec !important; }
  .progress-table .table-head {
    display: flex; }
    .progress-table .table-head .serial,
    .progress-table .table-head .country,
    .progress-table .table-head .visit,
    .progress-table .table-head .percentage {
      color: #222222;
      line-height: 40px;
      text-transform: uppercase;
      font-weight: 500; }
  .progress-table .table-row {
    padding: 15px 0;
    border-top: 1px solid #edf3fd;
    display: flex; }
    .progress-table .table-row:first-child {
      border-top: none; }
    .progress-table .table-row .serial,
    .progress-table .table-row .country,
    .progress-table .table-row .visit,
    .progress-table .table-row .percentage {
      display: flex;
      align-items: center; }
    .progress-table .table-row .country img {
      margin-right: 15px; }
    .progress-table .table-row .percentage .progress {
      width: 80%;
      border-radius: 0px;
      background: transparent; }
      .progress-table .table-row .percentage .progress .progress-bar {
        height: 5px;
        line-height: 5px; }
        .progress-table .table-row .percentage .progress .progress-bar.color-1 {
          background-color: #6382e6; }
        .progress-table .table-row .percentage .progress .progress-bar.color-2 {
          background-color: #e66686; }
        .progress-table .table-row .percentage .progress .progress-bar.color-3 {
          background-color: #f09359; }
        .progress-table .table-row .percentage .progress .progress-bar.color-4 {
          background-color: #73fbaf; }
        .progress-table .table-row .percentage .progress .progress-bar.color-5 {
          background-color: #73fbaf; }
        .progress-table .table-row .percentage .progress .progress-bar.color-6 {
          background-color: #6382e6; }
        .progress-table .table-row .percentage .progress .progress-bar.color-7 {
          background-color: #a367e7; }
        .progress-table .table-row .percentage .progress .progress-bar.color-8 {
          background-color: #e66686; }

.single-gallery-image {
  margin-top: 30px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  height: 200px; }

.list-style {
  width: 14px;
  height: 14px; }

.unordered-list li {
  position: relative;
  padding-left: 30px;
  line-height: 1.82em !important; }
  .unordered-list li:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 3px solid #69B4FD;
    background: #fff;
    top: 4px;
    left: 0;
    border-radius: 50%; }

.ordered-list {
  margin-left: 30px; }
  .ordered-list li {
    list-style-type: decimal-leading-zero;
    color: #69B4FD;
    font-weight: 500;
    line-height: 1.82em !important; }
    .ordered-list li span {
      font-weight: 300;
      color: #777777; }

.ordered-list-alpha li {
  margin-left: 30px;
  list-style-type: lower-alpha;
  color: #69B4FD;
  font-weight: 500;
  line-height: 1.82em !important; }
  .ordered-list-alpha li span {
    font-weight: 300;
    color: #777777; }

.ordered-list-roman li {
  margin-left: 30px;
  list-style-type: lower-roman;
  color: #69B4FD;
  font-weight: 500;
  line-height: 1.82em !important; }
  .ordered-list-roman li span {
    font-weight: 300;
    color: #777777; }

.single-input {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px; }
  .single-input:focus {
    outline: none; }

.input-group-icon {
  position: relative; }
  .input-group-icon .icon {
    position: absolute;
    left: 20px;
    top: 0;
    line-height: 40px;
    z-index: 3; }
    .input-group-icon .icon i {
      color: #797979; }
  .input-group-icon .single-input {
    padding-left: 45px; }

.single-textarea {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
  height: 100px;
  resize: none; }
  .single-textarea:focus {
    outline: none; }

.single-input-primary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px; }
  .single-input-primary:focus {
    outline: none;
    border: 1px solid #69B4FD; }

.single-input-accent {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px; }
  .single-input-accent:focus {
    outline: none;
    border: 1px solid #eb6b55; }

.single-input-secondary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px; }
  .single-input-secondary:focus {
    outline: none;
    border: 1px solid #f09359; }

.default-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .default-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer; }
    .default-switch input + label {
      position: absolute;
      top: 1px;
      left: 1px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #69B4FD;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
      cursor: pointer; }
    .default-switch input:checked + label {
      left: 19px; }

.primary-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .primary-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .primary-switch input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%; }
      .primary-switch input + label:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        border-radius: 8.5px;
        cursor: pointer;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
      .primary-switch input + label:after {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #fff;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
        cursor: pointer; }
    .primary-switch input:checked + label:after {
      left: 19px; }
    .primary-switch input:checked + label:before {
      background: #69B4FD; }

.confirm-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .confirm-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .confirm-switch input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%; }
      .confirm-switch input + label:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        border-radius: 8.5px;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        cursor: pointer; }
      .confirm-switch input + label:after {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #fff;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
        cursor: pointer; }
    .confirm-switch input:checked + label:after {
      left: 19px; }
    .confirm-switch input:checked + label:before {
      background: #4cd3e3; }

.primary-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .primary-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .primary-checkbox input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .primary-checkbox input:checked + label {
      background: url(../img/elements/primary-check.png) no-repeat center center/cover;
      border: none; }

.confirm-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .confirm-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .confirm-checkbox input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .confirm-checkbox input:checked + label {
      background: url(../img/elements/success-check.png) no-repeat center center/cover;
      border: none; }

.disabled-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .disabled-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .disabled-checkbox input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .disabled-checkbox input:disabled {
      cursor: not-allowed;
      z-index: 3; }
    .disabled-checkbox input:checked + label {
      background: url(../img/elements/disabled-check.png) no-repeat center center/cover;
      border: none; }

.primary-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .primary-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .primary-radio input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .primary-radio input:checked + label {
      background: url(../img/elements/primary-radio.png) no-repeat center center/cover;
      border: none; }

.confirm-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .confirm-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .confirm-radio input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .confirm-radio input:checked + label {
      background: url(../img/elements/success-radio.png) no-repeat center center/cover;
      border: none; }

.disabled-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .disabled-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .disabled-radio input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .disabled-radio input:disabled {
      cursor: not-allowed;
      z-index: 3; }
    .disabled-radio input:checked + label {
      background: url(../img/elements/disabled-radio.png) no-repeat center center/cover;
      border: none; }

.default-select {
  height: 40px; }
  .default-select .nice-select {
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #f9f9ff;
    padding-left: 20px;
    padding-right: 40px; }
    .default-select .nice-select .list {
      margin-top: 0;
      border: none;
      border-radius: 0px;
      box-shadow: none;
      width: 100%;
      padding: 10px 0 10px 0px; }
      .default-select .nice-select .list .option {
        font-weight: 300;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        line-height: 28px;
        min-height: 28px;
        font-size: 12px;
        padding-left: 20px; }
        .default-select .nice-select .list .option.selected {
          color: #69B4FD;
          background: transparent; }
        .default-select .nice-select .list .option:hover {
          color: #69B4FD;
          background: transparent; }
  .default-select .current {
    margin-right: 50px;
    font-weight: 300; }
  .default-select .nice-select::after {
    right: 20px; }

.form-select {
  height: 40px;
  width: 100%; }
  .form-select .nice-select {
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #f9f9ff;
    padding-left: 45px;
    padding-right: 40px;
    width: 100%; }
    .form-select .nice-select .list {
      margin-top: 0;
      border: none;
      border-radius: 0px;
      box-shadow: none;
      width: 100%;
      padding: 10px 0 10px 0px; }
      .form-select .nice-select .list .option {
        font-weight: 300;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        line-height: 28px;
        min-height: 28px;
        font-size: 12px;
        padding-left: 45px; }
        .form-select .nice-select .list .option.selected {
          color: #69B4FD;
          background: transparent; }
        .form-select .nice-select .list .option:hover {
          color: #69B4FD;
          background: transparent; }
  .form-select .current {
    margin-right: 50px;
    font-weight: 300; }
  .form-select .nice-select::after {
    right: 20px; }

body {
  position: relative; }

.default-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9; }

.menu-bar {
  cursor: pointer; }
  .menu-bar span {
    color: #222;
    font-size: 24px; }

.logo {
  max-width: 150px; }

@media (max-width: 992px) {
  .navbar-nav {
    height: auto;
    max-height: 400px;
    overflow-x: hidden; } }

.main-menubar {
  display: none !important; }

@media (max-width: 991px) {
  .main-menubar {
    display: block !important; } }

.navbar-nav a {
  text-transform: uppercase;
  font-weight: 600;
  color: #222;
  padding: 20px; }
  .navbar-nav a:hover {
    color: #69B4FD; }

@media (max-width: 992px) {
  .navbar-nav {
    margin-top: 10px; }
    .navbar-nav a {
      padding: 0; }
    .navbar-nav li {
      padding: 15px 0; } }

i {
  color: #222; }

.section-gap {
  padding: 60px 0; }

.section-title {
  padding-bottom: 30px; }
  .section-title h2 {
    margin-bottom: 20px; }
  .section-title p {
    font-size: 16px;
    margin-bottom: 0; }
    @media (max-width: 991px) {
      .section-title p br {
        display: none; } }

.p1-gradient-bg, .primary-btn, .footer-social a:hover, .single-footer-widget .bb-btn, .generic-banner, .tags ul a:hover, .overlay, .about_widget button:hover, .tag_widget ul li a:hover, .top-section-area {
  background-image: -moz-linear-gradient(45deg, #62bdfc 0%, #8490ff 100%);
  background-image: -webkit-linear-gradient(45deg, #62bdfc 0%, #8490ff 100%);
  background-image: -ms-linear-gradient(45deg, #62bdfc 0%, #8490ff 100%); }

.p1-gradient-color, .single-travel h4:hover, .single-fashion h4:hover, .single-gallery:hover, .single-posts:hover h4, .single-list:hover h4 {
  background-image: -moz-linear-gradient(45deg, #62bdfc 0%, #8490ff 100%);
  background-image: -webkit-linear-gradient(45deg, #62bdfc 0%, #8490ff 100%);
  background-image: -ms-linear-gradient(45deg, #62bdfc 0%, #8490ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.primary-btn {
  line-height: 42px;
  padding-left: 30px;
  padding-right: 60px;
  border-radius: 25px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-transform: uppercase;
  position: relative; }
  .primary-btn:focus {
    outline: none; }
  .primary-btn span {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .primary-btn:hover {
    color: #fff; }
    .primary-btn:hover span {
      color: #fff;
      right: 20px; }
  .primary-btn.white {
    border: 1px solid #fff;
    color: #fff; }
    .primary-btn.white span {
      color: #fff; }
    .primary-btn.white:hover {
      background: #fff;
      color: #69B4FD; }
      .primary-btn.white:hover span {
        color: #69B4FD; }

.load-more {
  border: 1px solid transparent; }
  .load-more:hover {
    background: transparent;
    border: 1px solid #69B4FD;
    color: #69B4FD; }

.pbtn-2 {
  padding-left: 30px;
  padding-right: 30px; }

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.default-header {
  background-color: #fff;
  width: 100% !important;
  box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3); }

.sticky-wrapper {
  height: 48px !important; }

.dropdown-item {
  font-size: 14px;
  width: auto !important;
  text-align: left; }
  @media (max-width: 767px) {
    .dropdown-item {
      text-align: left;
      padding: 0.25rem; } }

.dropdown-item {
  font-size: 14px;
  width: auto !important;
  text-align: left; }
  @media (max-width: 767px) {
    .dropdown-item {
      text-align: left;
      padding: 0.25rem; } }

@media (min-width: 768px) {
  .dropdown .dropdown-menu {
    display: block;
    opacity: 0;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in; }
  .dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1; } }

.dropdown-menu {
  border-radius: 0;
  margin-top: 15px;
  border: none; }
  .dropdown-menu a {
    padding: 5px 15px; }
  @media (max-width: 767px) {
    .dropdown-menu {
      margin-top: 0px; } }

.dropdown-item:focus,
.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: transparent; }

.banner-area .fullscreen {
  height: 350px !important; }
  @media (max-width: 767px) {
    .banner-area .fullscreen {
      height: 700px !important; } }

.banner-area .overlay {
  background: #222;
  opacity: 0.4; }

.banner-content {
  margin-top: 15%; }
  @media (max-width: 991px) {
    .banner-content {
      margin-top: 25%;
      text-align: center; } }
  .banner-content h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.15em;
    margin-bottom: 20px; }
    @media (max-width: 991px) {
      .banner-content h1 {
        font-size: 36px; } }
    @media (max-width: 991px) {
      .banner-content h1 br {
        display: none; } }
    @media (max-width: 1199px) {
      .banner-content h1 {
        font-size: 45px; } }
    @media (max-width: 414px) {
      .banner-content h1 {
        font-size: 40px; } }

.head-bottom-meta {
  bottom: 0px;
  color: #fff;
  padding-bottom: 60px; }
  .head-bottom-meta .meta-left p {
    margin-right: 20px;
    color: #fff; }
  .head-bottom-meta .user-meta {
    margin-right: 12px;
    text-align: right; }
    @media (max-width: 767px) {
      .head-bottom-meta .user-meta p {
        font-size: 12px; } }
  .head-bottom-meta .user-img {
    height: 80%; }
    @media (max-width: 767px) {
      .head-bottom-meta .user-img {
        float: right;
        margin-right: 10px; } }
  @media (max-width: 767px) {
    .head-bottom-meta .flex-row {
      flex-direction: column !important; }
    .head-bottom-meta .d-flex {
      display: block !important; } }

.single-cat {
  padding: 15px; }
  .single-cat img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .single-cat img:hover {
      transform: scale(1.1); }
  .single-cat .date {
    background-color: #000;
    color: #fff;
    font-weight: 100;
    padding: 2px 15px;
    width: 115px;
    text-align: center;
    margin-top: 20px; }
  .single-cat .author {
    background-color: #c3c3c3;
    color: #fff;
    font-weight: 100;
    padding: 2px 10px;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    font-size: 12px; }
  .single-cat .country {
    background-color: #c3c3c3;
    color: #fff;
    font-weight: 100;
    padding: 2px 10px;
    display: inline-block;
    text-align: center;
    font-size: 12px; }
  .single-cat .category {
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    color: #c3c3c3;
    padding: 2px 10px;
    display: inline-block;
    text-align: center;
    font-size: 12px; }
    .single-cat .category a {
      color: #c3c3c3; }
    .single-cat .category:hover {
      border: 1px solid #0066ff; }
      .single-cat .category:hover a {
        color: #0066ff; }
  .single-cat a {
    color: #222; }

.category-area .carousel-trigger {
  position: absolute;
  transform: translateY(-50%);
  right: 80px;
  margin-top: 10%; }
  @media (max-width: 1199px) {
    .category-area .carousel-trigger {
      right: 110%;
      transform: translate(0, -50%); } }
  .category-area .carousel-trigger .next-trigger {
    margin-bottom: 10px; }
  .category-area .carousel-trigger .next-trigger,
  .category-area .carousel-trigger .prev-trigger {
    width: 40px;
    background: #fff;
    border: 1px solid #eee;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer; }
    .category-area .carousel-trigger .next-trigger span,
    .category-area .carousel-trigger .prev-trigger span {
      line-height: 40px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      font-weight: 600; }
    .category-area .carousel-trigger .next-trigger:hover,
    .category-area .carousel-trigger .prev-trigger:hover {
      background: #69B4FD;
      border: 1px solid #69B4FD; }
      .category-area .carousel-trigger .next-trigger:hover span,
      .category-area .carousel-trigger .prev-trigger:hover span {
        color: #fff; }

.category-area .owl-controls {
  position: absolute;
  left: 102%;
  top: 25%; }
  @media (max-width: 1024px) {
    .category-area .owl-controls {
      position: relative;
      text-align: center;
      left: 0;
      top: 20px; }
      .category-area .owl-controls .owl-prev,
      .category-area .owl-controls .owl-next {
        display: inline-block; } }

.category-area .lnr-arrow-up,
.category-area .lnr-arrow-down {
  background-color: white;
  box-shadow: -14.142px 14.142px 20px 0px rgba(157, 157, 157, 0.2);
  padding: 14px;
  color: #000;
  font-weight: 500;
  border: 1px solid #f5f5f5;
  display: inline-flex; }

.travel-area {
  background: #f9f9ff; }

@media (max-width: 991px) {
  .travel-right {
    margin-top: 70px; } }

.single-travel h4 {
  margin-bottom: 12px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.single-travel a {
  color: #222; }

.single-travel img {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .single-travel img:hover {
    transform: scale(1.1); }

.single-travel .dates {
  background: #222;
  color: #fff;
  padding: 18px 24px;
  position: absolute; }
  .single-travel .dates span {
    font-size: 24px;
    font-weight: 600; }
  .single-travel .dates p {
    font-size: 14px;
    margin-bottom: 0; }

.single-travel .country {
  background-color: #c3c3c3;
  color: #fff;
  font-weight: 100;
  padding: 2px 10px;
  display: inline-block;
  text-align: center;
  font-size: 12px; }

.single-travel .category {
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  color: #c3c3c3;
  padding: 2px 10px;
  display: inline-block;
  text-align: center;
  font-size: 12px; }
  .single-travel .category a {
    color: #c3c3c3; }
  .single-travel .category:hover {
    border: 1px solid #0066ff; }
    .single-travel .category:hover a {
      color: #0066ff; }

.single-travel .truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

@media (max-width: 414px) {
  .media {
    display: grid !important; }
  .media-body {
    margin-top: 20px; } }

.single-fashion img {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .single-fashion img:hover {
    transform: scale(1.1); }

.single-fashion h4 {
  margin-bottom: 12px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.single-fashion a {
  color: #222; }

.single-fashion .date {
  background-color: #000;
  color: #fff;
  font-weight: 100;
  padding: 2px 15px;
  width: 115px;
  text-align: center;
  margin-top: 20px; }

@media (max-width: 800px) {
  .single-fashion {
    margin-bottom: 30px; } }

.team-area {
  background-color: #f9f9ff; }
  .team-area .single-team {
    padding: 10px; }
  .team-area .thumb {
    position: relative; }
  .team-area .thumb div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(105, 180, 253, 0.7);
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s; }
    .team-area .thumb div i {
      color: #fff;
      font-size: 20px;
      padding: 10px;
      z-index: 9999; }
  .team-area .thumb img {
    display: block;
    width: 100%; }
  .team-area .thumb div span {
    display: block;
    position: absolute;
    bottom: 30px;
    left: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3px; }
  .team-area .thumb div p {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-weight: 100; }
    @media (max-width: 768px) {
      .team-area .thumb div p {
        bottom: -15px; } }
  .team-area .thumb:hover div {
    opacity: 1;
    cursor: pointer; }
  .team-area .carousel-trigger {
    position: absolute;
    transform: translateY(-50%);
    right: 80px;
    margin-top: 10%; }
    @media (max-width: 1199px) {
      .team-area .carousel-trigger {
        right: 110%;
        transform: translate(0, -50%); } }
    .team-area .carousel-trigger .next-trigger {
      margin-bottom: 10px; }
    .team-area .carousel-trigger .next-trigger,
    .team-area .carousel-trigger .prev-trigger {
      width: 40px;
      background: #fff;
      border: 1px solid #eee;
      text-align: center;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      cursor: pointer; }
      .team-area .carousel-trigger .next-trigger span,
      .team-area .carousel-trigger .prev-trigger span {
        line-height: 40px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        font-weight: 600; }
      .team-area .carousel-trigger .next-trigger:hover,
      .team-area .carousel-trigger .prev-trigger:hover {
        background: #69B4FD;
        border: 1px solid #69B4FD; }
        .team-area .carousel-trigger .next-trigger:hover span,
        .team-area .carousel-trigger .prev-trigger:hover span {
          color: #fff; }
  .team-area .owl-controls {
    position: absolute;
    left: 102%;
    top: 25%; }
    @media (max-width: 1024px) {
      .team-area .owl-controls {
        position: relative;
        text-align: center;
        left: 0;
        top: 20px; }
        .team-area .owl-controls .owl-prev,
        .team-area .owl-controls .owl-next {
          display: inline-block; } }
  .team-area .lnr-arrow-up,
  .team-area .lnr-arrow-down {
    background-color: white;
    box-shadow: -14.142px 14.142px 20px 0px rgba(157, 157, 157, 0.2);
    padding: 14px;
    color: #000;
    font-weight: 500;
    border: 1px solid #f5f5f5;
    display: inline-flex; }

.footer-area {
  padding-top: 100px;
  background-color: #222222; }
  .footer-area .footer-nav li {
    margin-top: 8px; }
    .footer-area .footer-nav li a {
      color: #fff; }
      .footer-area .footer-nav li a:hover {
        color: #69B4FD; }

h6 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600; }

.copy-right-text i,
.copy-right-text a {
  color: #69B4FD; }

.instafeed {
  margin: -5px; }
  .instafeed li {
    overflow: hidden;
    width: 25%; }
    .instafeed li img {
      margin: 5px; }

.footer-social {
  text-align: right; }
  .footer-social a {
    background: #111111;
    width: 20px;
    width: 40px;
    display: inline-table;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .footer-social a:hover i {
      color: #fff; }
  .footer-social i {
    color: #cccccc;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  @media (max-width: 991px) {
    .footer-social {
      text-align: left;
      margin-top: 20px; } }

.single-footer-widget {
  color: #fff; }
  .single-footer-widget input {
    line-height: 38px;
    border: none;
    background: #fff;
    font-weight: 300;
    border-radius: 20px;
    color: #777;
    padding-left: 20px;
    width: 100%; }
  .single-footer-widget .bb-btn {
    color: #fff;
    font-weight: 300;
    border-radius: 0;
    z-index: 9999;
    cursor: pointer; }
  @media (max-width: 800px) {
    .single-footer-widget .nw-btn {
      margin-top: 20px; }
    .single-footer-widget .newsletter {
      padding-bottom: 40px; } }
  .single-footer-widget .info {
    position: absolute;
    margin-top: 45px;
    color: #fff;
    font-size: 12px; }
    .single-footer-widget .info.valid {
      color: green; }
    .single-footer-widget .info.error {
      color: red; }
  .single-footer-widget ::-moz-selection {
    /* Code for Firefox */
    background-color: #69B4FD;
    color: #777777; }
  .single-footer-widget ::selection {
    background-color: #69B4FD;
    color: #777777; }
  .single-footer-widget ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #777777;
    font-weight: 300; }
  .single-footer-widget :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #777777;
    opacity: 1;
    font-weight: 300; }
  .single-footer-widget ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #777777;
    opacity: 1;
    font-weight: 300; }
  .single-footer-widget :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #777777;
    font-weight: 300; }
  .single-footer-widget ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #777777;
    font-weight: 300; }
  @media (max-width: 991px) {
    .single-footer-widget {
      margin-bottom: 30px; } }

.footer-bottom {
  padding-top: 80px; }

.footer-text a,
.footer-text i {
  color: #69B4FD; }

.whole-wrap {
  background-color: #fff; }

.generic-banner .height {
  height: 600px; }
  @media (max-width: 767px) {
    .generic-banner .height {
      height: 400px; } }

.generic-banner .generic-banner-content h2 {
  line-height: 1.2em;
  margin-bottom: 20px; }
  @media (max-width: 991px) {
    .generic-banner .generic-banner-content h2 br {
      display: none; } }

.generic-banner .generic-banner-content p {
  text-align: center;
  font-size: 16px; }
  @media (max-width: 991px) {
    .generic-banner .generic-banner-content p br {
      display: none; } }

.generic-content h1 {
  font-weight: 600; }

.about-generic-area {
  background: #fff; }
  .about-generic-area .border-top-generic {
    border-top: 1px dotted #eee; }
  .about-generic-area p {
    margin-bottom: 20px; }

.white-bg {
  background: #fff; }

.section-top-border {
  padding: 70px 0;
  border-top: 1px dotted #eee; }

.switch-wrap {
  margin-bottom: 10px; }
  .switch-wrap p {
    margin: 0; }

.read-more {
  color: #222222;
  font-weight: 600;
  margin: 30px 0; }

.top-wrapper {
  margin-top: 40px;
  margin-bottom: 40px; }
  .top-wrapper h2 {
    font-size: 20px;
    text-align: left;
    font-weight: 600; }
  .top-wrapper a {
    color: #222222;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .top-wrapper a:hover {
      color: #777777; }
  .top-wrapper .right-side h2 {
    font-size: 16px;
    font-weight: 700; }
  .top-wrapper .right-side h3 {
    font-size: 13px;
    color: #ccc; }
  .top-wrapper .right-side .desc {
    margin-right: 20px;
    text-align: right; }
    .top-wrapper .right-side .desc h2 {
      text-align: right; }

.tags ul {
  margin-top: 30px;
  margin-bottom: 30px; }
  .tags ul li {
    background: #f9f9ff;
    border: 1px solid #eee;
    display: inline-block;
    margin-bottom: 15px; }
  .tags ul a {
    color: #222;
    padding: 4px 28px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .tags ul a:hover {
      color: #fff; }

.bottom-wrapper {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #eee; }
  .bottom-wrapper .social-icons {
    float: right; }
    .bottom-wrapper .social-icons li {
      display: inline-block;
      margin-right: 20px; }
      .bottom-wrapper .social-icons li a {
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        .bottom-wrapper .social-icons li a:hover {
          color: #222222; }
    @media (max-width: 769px) {
      .bottom-wrapper .social-icons {
        float: left; } }
  @media (max-width: 768px) {
    .bottom-wrapper .single-b-wrap {
      margin-bottom: 10px; } }

.no-feature-img {
  padding: 12px;
  background-color: #69B4FD; }

.link-post h2 a {
  color: #777777;
  font-size: 12px; }

.pagination a {
  border: none;
  color: #777777; }

.pagination .select a {
  background: #222;
  color: #fff; }

.footer-widget input {
  background-color: #69B4FD;
  border: none;
  border-radius: 0; }
  .footer-widget input:focus {
    background-color: #69B4FD; }

.footer-widget h2 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 30px; }

.footer-widget p {
  font-size: 14px;
  font-weight: 300; }

.footer-widget .copyright {
  color: #69B4FD; }

.footer-widget .social-icons li {
  display: inline-block;
  margin-right: 20px; }
  .footer-widget .social-icons li a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .footer-widget .social-icons li a:hover {
      color: #222222; }

@media (max-width: 768px) {
  .footer-widget {
    margin-bottom: 30px; } }

.click-btn {
  margin-top: -38px;
  left: 88%;
  background: #222;
  color: #fff;
  border-radius: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 8px 12px; }

.single-gallery:hover {
  cursor: pointer; }

.single-gallery img {
  width: 100%; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease; }

.single-gallery:hover .overlay {
  opacity: 0.5; }

blockquote {
  font-size: 16px;
  font-style: italic;
  margin: 1.25em 0;
  padding: 2.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #777777;
  border-left: 5px solid #c43afe;
  background: #f9f9ff; }

blockquote cite {
  color: #777777;
  font-size: 14px;
  display: block;
  margin-top: 5px; }

blockquote cite:before {
  content: "\2014 \2009"; }

.top-section-area #imaginary_container {
  background: #fff;
  padding: 24px; }

.search_widget .stylish-input-group .form-control,
.top-section-area .stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #eee;
  background-color: #f9f9ff; }

.search_widget .input-group-addon,
.top-section-area .input-group-addon {
  background-color: #f9f9ff !important;
  border-color: #eee; }

.search_widget .stylish-input-group button,
.top-section-area .stylish-input-group button {
  border: 0;
  background: transparent; }

.search_widget input,
.top-section-area input {
  font-size: 14px; }

.single_widget {
  border: 1px solid #eee;
  padding: 20px;
  margin-bottom: 40px; }

.about_widget {
  text-align: center; }
  .about_widget h2 {
    font-size: 16px;
    margin: 25px 25px; }
  .about_widget p {
    font-size: 14px; }
  .about_widget i {
    margin-right: 10px; }
  .about_widget button {
    text-transform: uppercase;
    border-radius: 22px;
    width: 140px;
    font-size: 14px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .about_widget button:hover {
      cursor: pointer;
      color: #fff; }
      .about_widget button:hover i {
        color: #fff; }
    @media (max-width: 354px) {
      .about_widget button {
        margin-bottom: 20px; } }
  .about_widget input {
    width: 100%;
    padding: 0 10px;
    height: 40px; }
  .about_widget .info {
    margin-top: 10px; }

.cat_widget h4 {
  padding-top: 20px;
  margin-left: 12px; }

.cat_widget ul {
  padding: 15px; }

.cat_widget ul li {
  background-color: #f9f9ff;
  padding: 10px 20px;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .cat_widget ul li span {
    float: right; }
  .cat_widget ul li a {
    color: #777; }
  .cat_widget ul li:hover {
    background-color: #222; }
    .cat_widget ul li:hover a {
      color: #fff; }

.tag_widget h4 {
  padding-top: 20px;
  margin-left: 12px; }

.tag_widget ul {
  margin-left: 12px; }

.tag_widget ul li {
  display: inline-block; }
  .tag_widget ul li a {
    color: #222;
    border: 1px solid #eee;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    background-color: #f9f9ff; }
    .tag_widget ul li a:hover {
      color: #fff; }

.recent_widget h4 {
  padding-top: 20px;
  margin-left: 12px; }

.recent_widget .title {
  font-weight: 600;
  color: #222; }

.recent_widget p i {
  margin-left: 10px; }

.recent_widget p span {
  float: right; }

.recent_widget .owl-controls {
  position: relative; }

.recent_widget .owl-dots {
  text-align: center;
  bottom: 5px;
  margin-top: 20px;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

.recent_widget .owl-dot {
  border-radius: 50px;
  height: 10px;
  width: 10px;
  display: inline-block;
  background: #777;
  margin-left: 5px;
  margin-right: 5px;
  @inlcude transition(); }

.recent_widget .owl-dot.active {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 0px 25px 0px 0px;
  background: #222; }

.sidebar-area {
  padding-bottom: 80px; }
  .sidebar-area .title a {
    color: #222; }
    .sidebar-area .title a:hover {
      color: #37a6ec; }
  .sidebar-area .country {
    background-color: #c3c3c3;
    color: #fff;
    font-weight: 100;
    padding: 2px 10px;
    display: inline-block;
    text-align: center;
    font-size: 12px; }
  .sidebar-area .category {
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    color: #c3c3c3;
    padding: 2px 10px;
    display: inline-block;
    text-align: center;
    font-size: 12px; }
    .sidebar-area .category a {
      color: #c3c3c3; }
    .sidebar-area .category:hover {
      border: 1px solid #0066ff; }
      .sidebar-area .category:hover a {
        color: #0066ff; }

.search-list {
  border-top: none !important;
  border-bottom: none !important;
  padding-top: 0 !important;
  margin-top: 0 !important; }

.top-left h1 {
  font-size: 48px; }
  @media (max-width: 768px) {
    .top-left h1 {
      font-size: 35px; } }

.top-left ul {
  text-align: left; }
  .top-left ul li {
    display: inline-block; }
    .top-left ul li a {
      font-size: 14px;
      font-weight: 400;
      color: #fff; }
    .top-left ul li .lnr {
      color: #fff;
      font-weight: 900;
      margin: 0px 20px; }
  @media (max-width: 800px) {
    .top-left ul {
      text-align: left;
      margin-top: 30px; } }

.nav-area {
  border-bottom: 1px solid #eee; }
  .nav-area a {
    color: #222; }
  .nav-area .nav-left .thumb {
    padding-right: 20px; }
  .nav-area .nav-right {
    text-align: right; }
    .nav-area .nav-right .thumb {
      padding-left: 20px; }
  @media (max-width: 768px) {
    .nav-area .details h4 {
      font-size: 14px; } }
  @media (max-width: 466px) {
    .nav-area .nav-right {
      margin-top: 50px; } }

.comment-sec-area {
  border-bottom: 1px solid #eee;
  padding-bottom: 50px; }
  .comment-sec-area a {
    color: #222; }
  .comment-sec-area .comment-list {
    padding-bottom: 30px; }
    .comment-sec-area .comment-list.left-padding {
      padding-left: 30px; }
  .comment-sec-area .thumb {
    margin-right: 20px; }
  .comment-sec-area .date {
    font-size: 13px;
    color: #cccccc; }
  .comment-sec-area .comment {
    color: #777777; }
  .comment-sec-area .btn-reply {
    background-color: #222;
    color: #fff;
    border: 1px solid #222;
    padding: 8px 30px;
    display: block;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .comment-sec-area .btn-reply:hover {
      background-color: transparent;
      color: #222; }

.commentform-area {
  padding-bottom: 100px; }
  .commentform-area .form-control {
    border-radius: 0;
    font-size: 14px;
    font-weight: 400; }
  .commentform-area .primary-btn {
    padding-left: 50px;
    padding-right: 50px; }
  .commentform-area textarea {
    height: 90%; }

.single-posts h4 {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.single-posts a {
  color: #222; }

.single-posts .date {
  background-color: #222;
  color: #fff;
  padding: 10px 10px;
  width: 120px;
  text-align: center; }

@media (max-width: 768px) {
  .single-posts {
    margin-bottom: 40px; } }

.post-lists {
  margin-top: 40px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-top: 40px; }
  @media (max-width: 494px) {
    .post-lists .flex-row {
      -webkit-box-direction: normal !important;
      -webkit-box-orient: vertical !important;
      -webkit-flex-direction: column !important;
      -moz-flex-direction: column !important;
      -ms-flex-direction: column !important;
      flex-direction: column !important; }
    .post-lists .single-list .detail {
      margin-top: 30px;
      margin-left: 0; } }

.single-list {
  padding-bottom: 30px; }
  .single-list .date {
    position: absolute;
    font-size: 14px;
    padding: 15px;
    width: 85px;
    background-color: #222;
    text-align: center;
    color: #fff; }
    .single-list .date span {
      font-size: 24px;
      font-weight: 600; }
  .single-list .country {
    background-color: #c3c3c3;
    color: #fff;
    font-weight: 100;
    padding: 2px 10px;
    display: inline-block;
    text-align: center;
    font-size: 12px; }
  .single-list .category {
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    color: #c3c3c3;
    padding: 2px 10px;
    display: inline-block;
    text-align: center;
    font-size: 12px; }
    .single-list .category a {
      color: #c3c3c3; }
    .single-list .category:hover {
      border: 1px solid #0066ff; }
      .single-list .category:hover a {
        color: #0066ff; }
  .single-list .detail {
    margin-left: 30px; }
  .single-list h4 {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .single-list .footer i {
    margin-right: 20px; }
  .single-list .footer .ml-20 {
    margin-left: 20px; }
  .single-list .footer a {
    color: #777; }

.loadmore-btn {
  padding-left: 30px;
  padding-right: 30px; }

.text-blue {
  color: #37a6ec; }

.single-post-content {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.84); }

.single-post-highlights {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.84);
  background: #f0efef;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px; }
  .single-post-highlights h2 {
    color: #37a6ec;
    margin-bottom: 5px; }
  .single-post-highlights ul {
    list-style-type: disc;
    list-style-position: inside; }

.single-post-tags {
  margin-top: -20px;
  margin-bottom: -10px; }

.platform-header {
  background: url("/img/platform-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.articles-header {
  background: url("/img/articles-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.newsletter-header {
  background: url("/img/newsletter-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.aboutus-header {
  background: url("/img/aboutus-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.label-one {
  font-size: 10px;
  border: 1px solid #999;
  padding: 2px 5px;
  border-radius: 5px;
  margin-bottom: 2px;
  margin-right: 2px; }

.platform-widget {
  padding: 0px 20px; }

.country img {
  width: 20px !important;
  height: 20px !important;
  display: inline !important;
  margin-right: 2px; }

.label-country {
  font-size: 12px;
  margin-right: 5px;
  display: inline-block;
  background: #c3c3c3;
  color: #fff;
  padding: 2px 5px;
  border-radius: 2px;
  margin-bottom: 2px; }

.platform-logo {
  border: 1px solid #c1c1c1;
  padding: 10px;
  border-radius: 5px; }

.platform-button {
  background: #37a6ec;
  border: 1px solid #37a6ec;
  padding: 5px 10px;
  font-size: 14px;
  color: #fff !important;
  border-radius: 5px; }
  .platform-button:hover {
    background: none;
    border: 1px solid #37a6ec;
    color: #37a6ec !important; }

.platform-home-button {
  background: #37a6ec;
  border: 1px solid #37a6ec;
  padding: 5px 10px;
  font-size: 12px;
  margin-bottom: 0px;
  color: #fff !important;
  border-radius: 5px; }
  .platform-home-button:hover {
    background: none;
    border: 1px solid #37a6ec;
    color: #37a6ec !important; }

.home-form {
  width: 100%;
  height: 50px;
  padding: 0px 20px;
  border-radius: 20px;
  border: 1px solid #c1c1c1; }

.home-newsletter {
  background: #37a6ec url("/img/newsletter-home-bg.png") no-repeat center center;
  color: #fff;
  padding: 25px; }

.home-newsletter--info h2 {
  margin-bottom: 20px;
  color: #f0efef; }

.home-newsletter--info p {
  font-weight: 600;
  margin-bottom: 0px; }

.home-newsletter--info ul {
  list-style-type: disc;
  list-style-position: inside; }

.home-newsletter--form {
  width: 100%;
  padding-right: 20px; }

.newsletter--info {
  padding: 0px 30px; }
  .newsletter--info ul {
    list-style-type: disc;
    list-style-position: inside; }
  .newsletter--info p {
    margin-bottom: 0px; }
  .newsletter--info h2 {
    margin-bottom: 10px; }

.aboutus--info {
  padding: 0px 30px; }
  .aboutus--info ol {
    list-style-type: decimal;
    list-style-position: inside;
    margin-bottom: 10px; }
  .aboutus--info p {
    margin-bottom: 10px; }
  .aboutus--info h2 {
    margin-bottom: 10px; }

.ideas .ideas--width {
  max-width: 600px; }

.ideas .ideas--box {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  cursor: pointer; }
  .ideas .ideas--box:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4); }

.ideas .ideas--title {
  font-weight: 600;
  font-size: 18px;
  color: #222; }

.ideas .ideas--question {
  margin-bottom: 0px;
  color: #777; }

.ideas .ideas--week {
  font-weight: 300;
  font-size: 12px;
  background: #e6e6ed;
  color: #777777;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px; }

.idea-post--week {
  font-weight: 300;
  font-size: 20px;
  background: #e6e6ed;
  color: #777777;
  padding: 10px;
  border-radius: 5px; }

.idea-post-heading {
  color: #37a6ec;
  text-align: center; }

.idea-post h3 {
  color: #37a6ec; }

.idea-post .bottom-wrapper {
  border-top: none; }

.idea-post--cta {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #37a6ec;
  margin-bottom: 40px; }

.form-control {
  border-radius: 5px !important; }
