Hiding Platform Area
From index.hbs

<!-- Start category Area -->
<section class="category-area section-gap" id="news">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-30 col-lg-8">
                <div class="title text-center">
                    <h2 class="mb-10">Influencer Marketing Platforms</h2>
                    <p>We collect Influencer Marketing Platforms from everywhere around Asia
                    </p>
                </div>
            </div>
        </div>
        <div class="active-cat-carusel">
            {{# each data.platforms.results}}
            <div class="item single-cat">
                <a href="/platform/{{slug}}"><img class="img-fluid mb-2" src="{{{cloudinaryUrl image }}}"></a>
                <h4 class="mb-2">
                    {{!-- <a href="{{postUrl slug}}">{{{title}}}</a> --}}
                    {{{title}}}
                </h4>
                {{!-- <p>If you operate an Instagram account for your business you should carry out regular Instagram
                    audits to
                    ensure…</p> --}}
                <div class="mb-1">
                    {{# each country}}
                    <p class="country mb-1"><img src="{{{cloudinaryUrl flag width=20 height=20}}}">{{title}}</p>
                    {{/each}}
                </div>
                <div>
                    <a class="platform-home-button" href="/platform/{{slug}}">View Details</a>
                </div>
                {{!-- <div>
                    {{# each categories}}
                    <p class="category mb-1">{{name}}</p>
                    {{/each}}
                </div> --}}
            </div>
            {{/each}}
        </div>
        <div class="flex justify-center">
            <a href="/platforms" class="primary-btn load-more pbtn-2 text-uppercase mx-auto mt-60">All Platforms</a>
        </div>
    </div>
</section>
<!-- End category Area -->

Hiding Platform Dropdown
From default.hbs

<li class="dropdown">
    {{!-- <a href="/platforms">Platforms</a> --}}
    <a class="dropdown-toggle" href="/platforms" id="navbardrop" data-toggle="dropdown">
        Platforms
    </a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/platforms/china">China</a>
        <a class="dropdown-item" href="/platforms/japan">Japan</a>
        <a class="dropdown-item" href="/platforms/south-korea">South Korea</a>
        <a class="dropdown-item" href="/platforms/singapore">Singapore</a>
        <a class="dropdown-item" href="/platforms">All Platforms</a>
    </div>
</li>