<!-- Start top-section Area -->
<section class="top-section-area section-gap aboutus-header">
	<div class="container">
		<div class="row justify-content-start align-items-center d-flex">
			<div class="col-lg-8 top-left">
				<h1 class="text-white mt-20">About Us</h1>
			</div>
		</div>
	</div>
</section>
<!-- End top-section Area -->

<!-- Start post Area -->
<div class="post-wrapper pt-50 pb-50">
	<!-- Start post Area -->
	<section class="post-area">
		<div class="container">
			<div class="row justify-content-center d-flex">
				<div class="col-lg-12">
					<div class="aboutus--info">
						<h2>Influencer Marketing Asia</h2>
						<p>We exist to help global marketers navigate the ever changing Asia market in this new digital age. We believe
							influencer marketing is the next big trend in advertising in Asia. However, Asia is a hard market to get into.
							We're here to help.</p>
						<p><b>What we need to understand about Asia Influencer Marketing Market</b></p>
						<ol>
							<li>Marketers in Asia announced that they will increase spending in Influencer Marketing</li>
							<li>Asia is a diverse continent. Different languages and culture in every major market.</li>
							<li>Highly tailored, localized, and tailored approach is needed in Asia. Only self-service platforms like in the
								west will not work.</li>
							<li>Asia is home to big emerging economies like China, India, South East Asia, Japan, South Korea, and more.</li>
						</ol>
						<p><b>Influencer Marketing Asia helps by providing</b></p>
						<ol>
							<li>Reviews on Platforms and Agencies in Asia categorized by country and services.</li>
							<li>Interviews from industry leaders such as brands, marketers, and influencers.</li>
							<li>Localized tools such as earning calculator adjusted by country, hashtag generator that includes local words.</li>
							<li>Reports, insights, and other valuable information focused on the Asia market.</li>
						</ol>
						<p>A lot of things are happening here in Asia and we want to be the gateway for marketers around the world to
							enter Asia.</p>
					</div>

					<!--End mc_embed_signup-->

				</div>
			</div>
		</div>
	</section>
	<!-- End post Area -->
</div>
<!-- End post Area -->