<!-- Start post Area -->
<div class="post-wrapper pt-50">
	<!-- Start post Area -->
	<section class="post-area idea-post">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="single-page-post">
						{{!--
						<img class="img-fluid" src="/img/single.jpg" alt=""> --}}
						<div class="top-wrapper mb-4">
							<p class="idea-post--week">Week {{data.post.content.week}}</p>
							<div class="flex-row d-flex justify-content-between">
								<h1 class="idea-post-heading text-uppercase">
									{{data.post.title}}
								</h1>
							</div>
						</div>
						<div class="single-post-content">
							{{{data.post.content.extended}}}
						</div>
						{{!-- <div class="bottom-wrapper">
							<div class="row">
								<div class="col-lg-12 single-b-wrap col-md-12">
									<p class="idea-post--cta">{{data.post.content.question}}</p>
									<div id="disqus_thread"></div>
									<script>

										/**
										*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
										*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
										/*
										var disqus_config = function () {
										this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
										this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
										};
										*/
										(function () { // DON'T EDIT BELOW THIS LINE
											var d = document, s = d.createElement('script');
											s.src = 'https://influencer-marketing-asia.disqus.com/embed.js';
											s.setAttribute('data-timestamp', +new Date());
											(d.head || d.body).appendChild(s);
										})();
									</script>
									<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
											Disqus.</a></noscript>

								</div>
							</div>
						</div> --}}

						<section class="comment-sec-area pt-80 pb-0 bottom-wrapper">
							<div class="container">
								<div class="row flex-column">
									<h5 class="text-uppercase pb-40">{{data.comments.length}} Comments</h5>
									{{# each data.comments }}
									<div class="comment-list">
										<div class="single-comment justify-content-between d-flex">
											<div class="user justify-content-between d-flex">
												<div class="thumb">
													<img src="img/asset/c1.jpg" alt="">
												</div>
												<div class="desc">
													<h5>
														<a href="#">{{author}}</a>
													</h5>
													{{!-- <p class="date">{{publishedOn}}</p> --}}
													<p class="comment">
														{{content}}
													</p>
												</div>
											</div>
										</div>
									</div>
									{{/each}}
								</div>
							</div>
						</section>
						<!-- End comment-sec Area -->

						<!-- Start commentform Area -->

						<section class="commentform-area  pb-120 pt-40 mb-40">
							<div class="container">
								<h5 class="text-uppercas pb-40">Leave a Reply</h5>
								<div class="row flex-row d-flex">
									<div class="col-lg-12">
										<input name="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'"
										 class="common-input mb-20 form-control" required="" type="text" id="comment-name">
										<input name="email" placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your email'"
										 class="common-input mb-20 form-control" required="" type="email" id="comment-email">
									</div>
									<div class="col-lg-12">
										<textarea class="form-control mb-10" name="message" placeholder="Message" onfocus="this.placeholder = ''"
										 onblur="this.placeholder = 'Messege'" required="" id="comment-content"></textarea>
										<a class="primary-btn mt-20" href="#" id="comment-submit">Comment</a>
									</div>
								</div>
							</div>
						</section>
						<!-- End commentform Area -->

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End post Area -->
</div>
<!-- End post Area -->

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ba875670c4cfa88"></script>
<script>
	$(document).ready(function () {
		$('#comment-submit').on('click', function (e) {
			var name = $('#comment-name').val()
			var email = $('#comment-email').val()
			var content = $('#comment-content').val()
			if (content.trim() == '') {
				return false
			}
			$.post(window.location.pathname, { action: 'comment.create', name, email, content })
				.done(function (data) {
					alert("Data Loaded: " + data);
				});
			setTimeout((x) => {
				location.reload();
			}, 1000)
			return false
		})
	});
</script>