<!-- start banner Area -->
<section class="banner-area relative" id="home" data-parallax="scroll" data-image-src="img/header-bg.jpg">
	<div class="overlay-bg overlay"></div>
	<div class="container">
		<div class="row fullscreen">
			<div class="banner-content d-flex align-items-center col-lg-12 col-md-12">
				<h1>
					The Ultimate Resources for
					<br> Influencer Marketing in Asia
				</h1>
			</div>
			{{!--
			<div class="head-bottom-meta d-flex justify-content-between align-items-end col-lg-12">
				<div class="col-lg-6 flex-row d-flex meta-left no-padding">
					<p>
						<span class="lnr lnr-heart"></span> 15 Likes</p>
					<p>
						<span class="lnr lnr-bubble"></span> 02 Comments</p>
				</div>
				<div class="col-lg-6 flex-row d-flex meta-right no-padding justify-content-end">
					<div class="user-meta">
						<h4 class="text-white">Mark wiens</h4>
						<p>12 Dec, 2017 11:21 am</p>
					</div>
					<img class="img-fluid user-img" src="img/user.jpg" alt="">
				</div>
			</div> --}}
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Ideas -->
<section class="travel-area section-gap" id="travel">
	<div class="container ideas">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-40 col-lg-8">
				<div class="title text-center">
					<h2 class="mb-10">Weekly Ideas</h2>
					<p>Breakdown of Influencer Marketing Ideas</p>
				</div>
			</div>
		</div>
		<div class="column d-flex flex-column justify-content-center align-items-center">
			<div class="ideas--width d-flex flex-column justify-content-center align-items-center">
				{{# each data.ideas.results}}
				<a href="/idea/{{slug}}">
					<div class="col-lg-12 ideas--box mb-10">
						<p class="mb-2"><span class="ideas--week">Week {{content.week}}</span> <span class="ideas--title">{{title}}</span></p>
						<p class="ideas--question">{{content.brief}}</>
					</div>
				</a>
				{{/each}}
			</div>
			<a href="/newsletter" class="primary-btn load-more pbtn-2 text-uppercase mx-auto mt-60">All Ideas</a>
		</div>
	</div>
</section>
<!-- End Ideas -->

<section class="newsletter-area pr-5 pl-5 pb-5 pt-5">
	<div class="container home-newsletter">
		<div class="row d-flex justify-content-center">
			<div class="col-6 home-newsletter--info">
				<h2>Influence Marketing insights in your inbox every week</h2>
				<p>What to expect:</p>
				<ul>
					<li>Asia Trends and Market Research</li>
					<li>New Agencies, Tools, and Platforms</li>
					<li>Top Brand Deals and Campaign</li>
					<li>Interviews with Asia Influencer Marketing Market Leaders (Marketers, Brands, and Influencers)</li>
				</ul>
			</div>
			<div class="col-6 flex justify-content-center align-items-center">
				<div id="mc_embed_signup" class="home-newsletter--form">
					<form target="_blank" novalidate="true" action="https://3secondstolaunch.us8.list-manage.com/subscribe/post?u=71aeabbbfeb1fd15e178abbd4&amp;id=9a159b41c0"
					 method="get" class="form-inline">
						<div class="form-group row" style="width: 100%">
							<div class="col-lg-8 col-md-12">
								<input name="EMAIL" placeholder="ENTER YOUR EMAIL ADDRESS" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
								 required="" type="email" class="home-form">
								<div style="position: absolute; left: -5000px;">
									<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
								</div>
							</div>

							<div class="col-lg-4 col-md-12">
								<button class="nw-btn primary-btn">Subscribe
									<span class="lnr lnr-arrow-right"></span>
								</button>
							</div>
						</div>
						<div class="info pt-2"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Start travel Area -->
<section class="travel-area section-gap" id="travel">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h2 class="mb-10">Articles from Around the Web</h2>
					<p>All of the best Influencer Marketing insights in one place
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 travel-left">
				{{# with data.posts.results.[0]}}
				<div class="single-travel media pb-50">
					<a href="/article/{{slug}}"><img class="img-fluid d-flex mr-3" src="{{{cloudinaryUrl image width=180 height=180 crop='fill' }}}"
						 alt=""></a>
					<div class="media-body align-self-center">
						<h4 class="mt-0">
							<a href="/article/{{slug}}">{{title}}</a>
						</h4>
						<p>{{content.brief}}</p>
						<div class="meta-bottom d-flex">
							{{# each categories}}
							<p class="category mr-5">
								<a href="/articles/{{key}}">{{name}}</a>
							</p>
							{{/each}} {{# each country}}
							<p class="country mr-5">{{title}}</p>
							{{/each}}
						</div>
					</div>
				</div>
				{{/with}}
				{{# with data.posts.results.[1]}}
				<div class="single-travel media pb-50">
					<a href="/article/{{slug}}"><img class="img-fluid d-flex mr-3" src="{{{cloudinaryUrl image width=180 height=180 crop='fill' }}}"
						 alt=""></a>
					<div class="media-body align-self-center">
						<h4 class="mt-0">
							<a href="/article/{{slug}}">{{title}}</a>
						</h4>
						<p>{{content.brief}}</p>
						<div class="meta-bottom d-flex">
							{{# each categories}}
							<p class="category mr-5">
								<a href="/articles/{{key}}">{{name}}</a>
							</p>
							{{/each}} {{# each country}}
							<p class="country mr-5">{{title}}</p>
							{{/each}}
						</div>
					</div>
				</div>
				{{/with}}
				{{# with data.posts.results.[2]}}
				<div class="single-travel media">
					<a href="/article/{{slug}}"><img class="img-fluid d-flex mr-3" src="{{{cloudinaryUrl image width=180 height=180 crop='fill' }}}"
						 alt=""></a>
					<div class="media-body align-self-center">
						<h4 class="mt-0">
							<a href="/article/{{slug}}">{{title}}</a>
						</h4>
						<p>{{content.brief}}</p>
						<div class="meta-bottom d-flex">
							{{# each categories}}
							<p class="category mr-5">
								<a href="/articles/{{key}}">{{name}}</a>
							</p>
							{{/each}} {{# each country}}
							<p class="country mr-5">{{title}}</p>
							{{/each}}
						</div>
					</div>
				</div>
				{{/with}}
			</div>
			<div class="col-lg-6 travel-right">
				{{# with data.posts.results.[3]}}
				<div class="single-travel media pb-50">
					<a href="/article/{{slug}}"><img class="img-fluid d-flex mr-3" src="{{{cloudinaryUrl image width=180 height=180 crop='fill' }}}"
						 alt=""></a>
					<div class="media-body align-self-center">
						<h4 class="mt-0">
							<a href="/article/{{slug}}">{{title}}</a>
						</h4>
						<p>{{content.brief}}</p>
						<div class="meta-bottom d-flex">
							{{# each categories}}
							<p class="category mr-5">
								<a href="/articles/{{key}}">{{name}}</a>
							</p>
							{{/each}} {{# each country}}
							<p class="country mr-5">{{title}}</p>
							{{/each}}
						</div>
					</div>
				</div>
				{{/with}}
				{{# with data.posts.results.[4]}}
				<div class="single-travel media pb-50">
					<a href="/article/{{slug}}"><img class="img-fluid d-flex mr-3" src="{{{cloudinaryUrl image width=180 height=180 crop='fill' }}}"
						 alt=""></a>
					<div class="media-body align-self-center">
						<h4 class="mt-0">
							<a href="/article/{{slug}}">{{title}}</a>
						</h4>
						<p>{{content.brief}}</p>
						<div class="meta-bottom d-flex">
							{{# each categories}}
							<p class="category mr-5">
								<a href="/articles/{{key}}">{{name}}</a>
							</p>
							{{/each}} {{# each country}}
							<p class="country mr-5">{{title}}</p>
							{{/each}}
						</div>
					</div>
				</div>
				{{/with}}
				{{# with data.posts.results.[5]}}
				<div class="single-travel media">
					<a href="/article/{{slug}}"><img class="img-fluid d-flex mr-3" src="{{{cloudinaryUrl image width=180 height=180 crop='fill' }}}"
						 alt=""></a>
					<div class="media-body align-self-center">
						<h4 class="mt-0">
							<a href="/article/{{slug}}">{{title}}</a>
						</h4>
						<p>{{content.brief}}</p>
						<div class="meta-bottom d-flex">
							{{# each categories}}
							<p class="category mr-5">
								<a href="/articles/{{key}}">{{name}}</a>
							</p>
							{{/each}} {{# each country}}
							<p class="country mr-5">{{title}}</p>
							{{/each}}
						</div>
					</div>
				</div>
				{{/with}}
			</div>
			<a href="/articles" class="primary-btn load-more pbtn-2 text-uppercase mx-auto mt-60">More Articles</a>
		</div>
	</div>
</section>
<!-- End travel Area -->

<!-- Start fashion Area -->
{{!--
<section class="fashion-area section-gap" id="fashion">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Fashion News This Week</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna
						aliqua.
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6 single-fashion">
				<img class="img-fluid" src="img/f1.jpg" alt="">
				<p class="date">10 Jan 2018</p>
				<h4>
					<a href="#">Addiction When Gambling Becomes A Problem</a>
				</h4>
				<p>
					inappropriate behavior ipsum dolor sit amet, consectetur.
				</p>
				<div class="meta-bottom d-flex justify-content-between">
					<p>
						<span class="lnr lnr-heart"></span> 15 Likes</p>
					<p>
						<span class="lnr lnr-bubble"></span> 02 Comments</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 single-fashion">
				<img class="img-fluid" src="img/f2.jpg" alt="">
				<p class="date">10 Jan 2018</p>
				<h4>
					<a href="#">Addiction When Gambling Becomes A Problem</a>
				</h4>
				<p>
					inappropriate behavior ipsum dolor sit amet, consectetur.
				</p>
				<div class="meta-bottom d-flex justify-content-between">
					<p>
						<span class="lnr lnr-heart"></span> 15 Likes</p>
					<p>
						<span class="lnr lnr-bubble"></span> 02 Comments</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 single-fashion">
				<img class="img-fluid" src="img/f3.jpg" alt="">
				<p class="date">10 Jan 2018</p>
				<h4>
					<a href="#">Addiction When Gambling Becomes A Problem</a>
				</h4>
				<p>
					inappropriate behavior ipsum dolor sit amet, consectetur.
				</p>
				<div class="meta-bottom d-flex justify-content-between">
					<p>
						<span class="lnr lnr-heart"></span> 15 Likes</p>
					<p>
						<span class="lnr lnr-bubble"></span> 02 Comments</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 single-fashion">
				<img class="img-fluid" src="img/f4.jpg" alt="">
				<p class="date">10 Jan 2018</p>
				<h4>
					<a href="#">Addiction When Gambling Becomes A Problem</a>
				</h4>
				<p>
					inappropriate behavior ipsum dolor sit amet, consectetur.
				</p>
				<div class="meta-bottom d-flex justify-content-between">
					<p>
						<span class="lnr lnr-heart"></span> 15 Likes</p>
					<p>
						<span class="lnr lnr-bubble"></span> 02 Comments</p>
				</div>
			</div>
			<a href="#" class="primary-btn load-more pbtn-2 text-uppercase mx-auto mt-60">Load More </a>
		</div>
	</div>
</section> --}}
<!-- End fashion Area -->

<!-- Start team Area -->
{{!--
<section class="team-area section-gap" id="team">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">About Blogger Team</h1>
					<p>Who are in extremely love with eco friendly system.</p>
				</div>
			</div>
		</div>
		<div class="row justify-content-center d-flex align-items-center">
			<div class="col-lg-6 team-left">
				<p>
					inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially
					in the
					workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate
					behavior
					is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace.
					That’s
					why it’s crucial that.
				</p>
				<p>
					inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially
					in the
					workplace. That’s why it’s crucial that, as women.
				</p>
			</div>
			<div class="col-lg-6 team-right d-flex justify-content-center">
				<div class="row active-team-carusel">
					<div class="single-team">
						<div class="thumb">
							<img class="img-fluid" src="img/team1.jpg" alt="">
							<div class="align-items-center justify-content-center d-flex">
								<a href="#">
									<i class="fa fa-facebook"></i>
								</a>
								<a href="#">
									<i class="fa fa-twitter"></i>
								</a>
								<a href="#">
									<i class="fa fa-linkedin"></i>
								</a>
							</div>
						</div>
						<div class="meta-text mt-30 text-center">
							<h4>Dora Walker</h4>
							<p>Senior Core Developer</p>
						</div>
					</div>
					<div class="single-team">
						<div class="thumb">
							<img class="img-fluid" src="img/team2.jpg" alt="">
							<div class="align-items-center justify-content-center d-flex">
								<a href="#">
									<i class="fa fa-facebook"></i>
								</a>
								<a href="#">
									<i class="fa fa-twitter"></i>
								</a>
								<a href="#">
									<i class="fa fa-linkedin"></i>
								</a>
							</div>
						</div>
						<div class="meta-text mt-30 text-center">
							<h4>Lena Keller</h4>
							<p>Creative Content Developer</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> --}}
<!-- End team Area -->