<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup {
		background: #fff;
		clear: left;
		font: 14px Helvetica, Arial, sans-serif;
	}

	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>

<!-- Start top-section Area -->
<section class="top-section-area section-gap newsletter-header">
	<div class="container">
		<div class="row justify-content-start align-items-center d-flex">
			<div class="col-lg-8 top-left">
				<h1 class="text-white mt-20">Newsletter</h1>
			</div>
		</div>
	</div>
</section>
<!-- End top-section Area -->

<!-- Ideas -->
<section class="travel-area section-gap" id="travel">
	<div class="container ideas">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-40 col-lg-8">
				<div class="title text-center">
					<h2 class="mb-10">Weekly Ideas</h2>
					<p>Breakdown of Influencer Marketing Ideas</p>
				</div>
			</div>
		</div>
		<div class="column d-flex flex-column justify-content-center align-items-center">
			<div class="ideas--width d-flex flex-column justify-content-center align-items-center">
				{{# each data.ideas.results}}
				<a href="/idea/{{slug}}">
					<div class="col-lg-12 ideas--box mb-10">
						<p class="mb-2"><span class="ideas--week">Week {{content.week}}</span> <span class="ideas--title">{{title}}</span></p>
						<p class="ideas--question">{{content.brief}}</>
					</div>
				</a>
				{{/each}}
			</div>
		</div>
	</div>
</section>
<!-- End Ideas -->

<!-- Start post Area -->
<div class="post-wrapper pt-50 pb-50">
	<!-- Start post Area -->
	<section class="post-area">
		<div class="container">
			<div class="row justify-content-center d-flex">
				<div class="col-lg-12">
					<div class="newsletter--info">
						<h2>Influence Marketing insights in your inbox every week</h2>
						<p>What to expect:</p>
						<ul>
							<li>Asia Trends and Market Research</li>
							<li>New Agencies, Tools, and Platforms</li>
							<li>Top Brand Deals and Campaign</li>
							<li>Interviews with Asia Influencer Marketing Market Leaders (Marketers, Brands, and Influencers)</li>
						</ul>
					</div>

					<div id="mc_embed_signup">
						<form action="https://3secondstolaunch.us8.list-manage.com/subscribe/post?u=71aeabbbfeb1fd15e178abbd4&amp;id=9a159b41c0"
						 method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
						 novalidate>
							<div id="mc_embed_signup_scroll">
								<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
								<div class="mc-field-group">
									<label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
									</label>
									<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
								</div>
								<div class="mc-field-group">
									<label for="mce-FNAME">First Name </label>
									<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
								</div>
								<div class="mc-field-group">
									<label for="mce-LNAME">Last Name </label>
									<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
								</div>
								<div id="mce-responses" class="clear">
									<div class="response" id="mce-error-response" style="display:none"></div>
									<div class="response" id="mce-success-response" style="display:none"></div>
								</div>
								<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
								<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_71aeabbbfeb1fd15e178abbd4_9a159b41c0"
									 tabindex="-1" value=""></div>
								<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
							</div>
						</form>
					</div>

					<!--End mc_embed_signup-->

				</div>
			</div>
		</div>
	</section>
	<!-- End post Area -->
</div>
<!-- End post Area -->