<!-- Start post Area -->
<div class="post-wrapper pt-50">
	<!-- Start post Area -->
	<section class="post-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="single-page-post">
						<div class="top-wrapper mb-0">
							<div class="row d-flex justify-content-between align-items-center mb-20">
								<div class="column">
									<h1 class="text-uppercase mb-10">
										{{data.post.title}}
									</h1>
									<a class="platform-button" href="{{data.post.content.link}}" target="_blank">Visit Website</a>
								</div>
								<img class="platform-logo img-fluid" src="{{{cloudinaryUrl data.post.image width=200 height=100 crop='fill' }}}" />
							</div>
						</div>
						<div class="tags">
							<p>Services Offered</p>
							<ul>
								{{# each data.post.categories}}
								<li>
									<a href="#">{{name}}</a>
								</li>
								{{/each}}
							</ul>
							<p>Countries Served</p>
							<ul>
								{{# each data.post.country}}
								<li>
									<a href="#"><img class="mr-2" src="{{{cloudinaryUrl flag width=20 height=20}}}">{{title}}</a>
								</li>
								{{/each}}
							</ul>
						</div>
						<div class="single-post-content">
							{{{data.post.content.extended}}}
						</div>
						<div class="bottom-wrapper">
							<div class="row">
								<div class="col-lg-12 single-b-wrap col-md-12">
									<div id="disqus_thread"></div>
									<script>

										/**
										*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
										*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
										/*
										var disqus_config = function () {
										this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
										this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
										};
										*/
										(function () { // DON'T EDIT BELOW THIS LINE
											var d = document, s = d.createElement('script');
											s.src = 'https://influencer-marketing-asia.disqus.com/embed.js';
											s.setAttribute('data-timestamp', +new Date());
											(d.head || d.body).appendChild(s);
										})();
									</script>
									<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
											Disqus.</a></noscript>

								</div>
							</div>
						</div>

						<!-- Start nav Area -->
						{{!--
						<section class="nav-area pt-50 pb-100">
							<div class="container">
								<div class="row justify-content-between">
									<div class="col-sm-6 nav-left justify-content-start d-flex">
										<div class="thumb">
											<img src="img/prev.jpg" alt="">
										</div>
										<div class="details">
											<p>Prev Post</p>
											<h4 class="text-uppercase">
												<a href="#">A Discount Toner</a>
											</h4>
										</div>
									</div>
									<div class="col-sm-6 nav-right justify-content-end d-flex">
										<div class="details">
											<p>Prev Post</p>
											<h4 class="text-uppercase">
												<a href="#">A Discount Toner</a>
											</h4>
										</div>
										<div class="thumb">
											<img src="img/next.jpg" alt="">
										</div>
									</div>
								</div>
							</div>
						</section> --}}
						<!-- End nav Area -->

						<!-- Start comment-sec Area -->
						{{!--
						<section class="comment-sec-area pt-80 pb-80">
							<div class="container">
								<div class="row flex-column">
									<h5 class="text-uppercase pb-80">05 Comments</h5>
									<br>
									<div class="comment-list">
										<div class="single-comment justify-content-between d-flex">
											<div class="user justify-content-between d-flex">
												<div class="thumb">
													<img src="img/asset/c1.jpg" alt="">
												</div>
												<div class="desc">
													<h5>
														<a href="#">Emilly Blunt</a>
													</h5>
													<p class="date">December 4, 2017 at 3:12 pm </p>
													<p class="comment">
														Never say goodbye till the end comes!
													</p>
												</div>
											</div>
											<div class="reply-btn">
												<a href="" class="btn-reply text-uppercase">reply</a>
											</div>
										</div>
									</div>
									<div class="comment-list left-padding">
										<div class="single-comment justify-content-between d-flex">
											<div class="user justify-content-between d-flex">
												<div class="thumb">
													<img src="img/asset/c2.jpg" alt="">
												</div>
												<div class="desc">
													<h5>
														<a href="#">Emilly Blunt</a>
													</h5>
													<p class="date">December 4, 2017 at 3:12 pm </p>
													<p class="comment">
														Never say goodbye till the end comes!
													</p>
												</div>
											</div>
											<div class="reply-btn">
												<a href="" class="btn-reply text-uppercase">reply</a>
											</div>
										</div>
									</div>
									<div class="comment-list left-padding">
										<div class="single-comment justify-content-between d-flex">
											<div class="user justify-content-between d-flex">
												<div class="thumb">
													<img src="img/asset/c3.jpg" alt="">
												</div>
												<div class="desc">
													<h5>
														<a href="#">Emilly Blunt</a>
													</h5>
													<p class="date">December 4, 2017 at 3:12 pm </p>
													<p class="comment">
														Never say goodbye till the end comes!
													</p>
												</div>
											</div>
											<div class="reply-btn">
												<a href="" class="btn-reply text-uppercase">reply</a>
											</div>
										</div>
									</div>
									<div class="comment-list">
										<div class="single-comment justify-content-between d-flex">
											<div class="user justify-content-between d-flex">
												<div class="thumb">
													<img src="img/asset/c4.jpg" alt="">
												</div>
												<div class="desc">
													<h5>
														<a href="#">Emilly Blunt</a>
													</h5>
													<p class="date">December 4, 2017 at 3:12 pm </p>
													<p class="comment">
														Never say goodbye till the end comes!
													</p>
												</div>
											</div>
											<div class="reply-btn">
												<a href="" class="btn-reply text-uppercase">reply</a>
											</div>
										</div>
									</div>
									<div class="comment-list">
										<div class="single-comment justify-content-between d-flex">
											<div class="user justify-content-between d-flex">
												<div class="thumb">
													<img src="img/asset/c5.jpg" alt="">
												</div>
												<div class="desc">
													<h5>
														<a href="#">Emilly Blunt</a>
													</h5>
													<p class="date">December 4, 2017 at 3:12 pm </p>
													<p class="comment">
														Never say goodbye till the end comes!
													</p>
												</div>
											</div>
											<div class="reply-btn">
												<a href="" class="btn-reply text-uppercase">reply</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section> --}}
						<!-- End comment-sec Area -->

						<!-- Start commentform Area -->
						{{!--
						<section class="commentform-area  pb-120 pt-80 mb-100">
							<div class="container">
								<h5 class="text-uppercas pb-50">Leave a Reply</h5>
								<div class="row flex-row d-flex">
									<div class="col-lg-6">
										<input name="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'"
										 class="common-input mb-20 form-control" required="" type="text">
										<input name="email" placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your email'"
										 class="common-input mb-20 form-control" required="" type="email">
										<input name="Subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your Subject'"
										 class="common-input mb-20 form-control" required="" type="text">

									</div>
									<div class="col-lg-6">
										<textarea class="form-control mb-10" name="message" placeholder="Messege" onfocus="this.placeholder = ''"
										 onblur="this.placeholder = 'Messege'" required=""></textarea>
										<a class="primary-btn mt-20" href="#">Comment</a>
									</div>
								</div>
							</div>
						</section> --}}
						<!-- End commentform Area -->

					</div>
				</div>
				{{!-- <div class="col-lg-4 sidebar-area ">
					<div class="single_widget recent_widget">
						<h4 class="text-uppercase pb-20">More Articles</h4>
						<div class="active-recent-carusel">
							{{# each data.posts.results}}
							<div class="item">
								<a href="/articles/{{key}}">
									<img src="{{{cloudinaryUrl image width=308 height=187 crop='fill' }}}" alt="">
								</a>
								<p class="mt-20 title text-uppercase">
									<a href="/articles/{{key}}">{{title}}</a>
								</p>
								{{# each categories}}
								<p class="category mr-5">
									<a href="/articles/{{key}}">{{name}}</a>
								</p>
								{{/each}} {{# each country}}
								<p class="country mr-5">{{title}}</p>
								{{/each}}
							</div>
							{{/each}}
						</div>
					</div>

					<div class="single_widget about_widget">
						<h2 class="text-uppercase">Newsletter</h2>
						<p>Get exclusive updates on Influencer Marketing in Asia</p>
						<div id="mc_embed_signup">
							<form target="_blank" novalidate="true" action="https://3secondstolaunch.us8.list-manage.com/subscribe/post?u=71aeabbbfeb1fd15e178abbd4&amp;id=9a159b41c0"
							 method="get" class="form-inline">

								<div class="form-group column" style="width: 100%">
									<div class="col-lg-12 col-md-12 mb-2">
										<input name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
										 required="" type="email">
										<div style="position: absolute; left: -5000px;">
											<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
										</div>
									</div>

									<div class="col-lg-12 col-md-12">
										<button class="nw-btn primary-btn">Subscribe
											<span class="lnr lnr-arrow-right"></span>
										</button>
									</div>
								</div>
								<div class="info"></div>
							</form>
						</div>
					</div>

					<div class="single_widget cat_widget">
						<h2 class="text-uppercase pb-20">categories</h2>
						<ul>
							{{# each data.categories }}
							<li>
								<a href="/articles/{{key}}">{{name}}</a>
							</li>
							{{/each}}
						</ul>
					</div>
				</div> --}}
			</div>
		</div>
	</section>
	<!-- End post Area -->
</div>
<!-- End post Area -->