<!-- Start top-section Area -->
<section class="top-section-area section-gap platform-header">
	<div class="container">
		<div class="row justify-content-start align-items-center d-flex">
			<div class="col-lg-8 top-left">
				<h1 class="text-white mt-20">Platforms</h1>
			</div>
		</div>
	</div>
</section>
<!-- End top-section Area -->

<!-- Start post Area -->
<div class="post-wrapper pt-50 pb-50">
	<!-- Start post Area -->
	<section class="post-area">
		<div class="container">
			<div class="row justify-content-center d-flex">
				<div class="col-lg-12">
					<div class="single_widget platform-widget cat_widget">
						<h4 class="text-uppercase pb-20">countries</h4>
						<ul class="row">
							{{# each data.countries }}
							<li class="mr-1">
								<a href="/platforms/{{key}}"><img class="img-fluid" src="{{{cloudinaryUrl flag width=20 height=20}}}">
									{{title}}</a>
							</li>
							{{/each}}
						</ul>
					</div>
					{{!-- <h3 class="mb-30">Platforms</h3> --}}
					<div class="progress-table-wrap">
						<div class="progress-table">
							{{!-- <div class="table-head">
								<div class="serial">Platform</div>
								<div class="country">Name</div>
								<div class="visit">Category</div>
								<div class="percentage">Country</div>
							</div> --}}
							{{# each data.posts.results}}
							<div class="table-row">
								<div class="serial"><a href="/platform/{{slug}}"><img src="{{{cloudinaryUrl image width=80 height=50 crop='fill' }}}" /></a></div>
								<div class="country">{{title}}</div>
								<div class="visit row">
									{{# each categories}}
									<span class="label-one">{{name}}</span>
									{{/each}}
								</div>
								<div class="percentage row">
									{{# each country}}
									<p class="label-country">
										<img class="img-fluid" src="{{{cloudinaryUrl flag width=20 height=20}}}">
										{{title}}
									</p>
									{{/each}}
								</div>
								<div class="cta row align-items-center justify-content-center">
									<a href="/platform/{{slug}}">View</a>
								</div>
							</div>
							{{/each}}
						</div>
					</div>
				</div>
				{{!-- <div class="col-lg-4 sidebar-area">
					<div class="single_widget cat_widget">
						<h4 class="text-uppercase pb-20">categories</h4>
						<ul>
							{{# each data.categories }}
							<li>
								<a href="/platforms/{{key}}">{{name}}</a>
							</li>
							{{/each}}
						</ul>
					</div>
				</div> --}}
			</div>
		</div>
	</section>
	<!-- End post Area -->
</div>
<!-- End post Area -->