.text-blue {
	color: #37a6ec;
}

.single-post-content {
	font-size: 18px;
	line-height: 28px;
	letter-spacing: normal;
	color: rgba(0, 0, 0, 0.84);
}

.single-post-highlights {
	font-size: 14px;
	line-height: 28px;
	letter-spacing: normal;
	color: rgba(0, 0, 0, 0.84);
	background: #f0efef;
	padding: 10px 20px;
	border-radius: 5px;
	margin-bottom: 20px;
	h2 {
		color: #37a6ec;
		margin-bottom: 5px;
	}
	ul {
		list-style-type: disc;
		list-style-position: inside;
	}
}

.single-post-tags {
	margin-top: -20px;
	margin-bottom: -10px;
}

.platform-header {
	background: url("/img/platform-bg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.articles-header {
	background: url("/img/articles-bg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.newsletter-header {
	background: url("/img/newsletter-bg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.aboutus-header {
	background: url("/img/aboutus-bg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.label-one {
	font-size: 10px;
	border: 1px solid #999;
	padding: 2px 5px;
	border-radius: 5px;
	margin-bottom: 2px;
	margin-right: 2px;
}

.platform-widget {
	padding: 0px 20px;
}
.country img {
	width: 20px !important;
	height: 20px !important;
	display: inline !important;
	margin-right: 2px;
}

.label-country {
	font-size: 12px;
	margin-right: 5px;
	display: inline-block;
	background: #c3c3c3;
	color: #fff;
	padding: 2px 5px;
	border-radius: 2px;
	margin-bottom: 2px;
}

.platform-logo {
	border: 1px solid #c1c1c1;
	padding: 10px;
	border-radius: 5px;
}

.platform-button {
	background: #37a6ec;
	border: 1px solid #37a6ec;
	padding: 5px 10px;
	font-size: 14px;
	color: #fff !important;
	border-radius: 5px;
	&:hover {
		background: none;
		border: 1px solid #37a6ec;
		color: #37a6ec !important;
	}
}

.platform-home-button {
	background: #37a6ec;
	border: 1px solid #37a6ec;
	padding: 5px 10px;
	font-size: 12px;
	margin-bottom: 0px;
	color: #fff !important;
	border-radius: 5px;
	&:hover {
		background: none;
		border: 1px solid #37a6ec;
		color: #37a6ec !important;
	}
}

.home-form {
	width: 100%;
	height: 50px;
	padding: 0px 20px;
	border-radius: 20px;
	border: 1px solid #c1c1c1;
}

.home-newsletter {
	background: #37a6ec url("/img/newsletter-home-bg.png") no-repeat center center;
	color: #fff;
	padding: 25px;
}

.home-newsletter--info {
	h2 {
		margin-bottom: 20px;
		color: #f0efef;
	}
	p {
		font-weight: 600;
		margin-bottom: 0px;
	}
	ul {
		list-style-type: disc;
		list-style-position: inside;
	}
}

.home-newsletter--form {
	width: 100%;
	padding-right: 20px;
}

.newsletter--info {
	padding: 0px 30px;
	ul {
		list-style-type: disc;
		list-style-position: inside;
	}
	p {
		margin-bottom: 0px;
	}
	h2 {
		margin-bottom: 10px;
	}
}

.aboutus--info {
	padding: 0px 30px;
	ol {
		list-style-type: decimal;
		list-style-position: inside;
		margin-bottom: 10px;
	}
	p {
		margin-bottom: 10px;
	}
	h2 {
		margin-bottom: 10px;
	}
}

.ideas {
	.ideas--width {
		max-width: 600px;
	}
	.ideas--box {
		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, 0.1);
		padding: 20px;
		border-radius: 5px;
		cursor: pointer;
		&:hover {
			box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
		}
	}
	.ideas--title {
		font-weight: 600;
		font-size: 18px;
		color: #222;
	}
	.ideas--question {
		margin-bottom: 0px;
		color: #777;
	}
	.ideas--week {
		font-weight: 300;
		font-size: 12px;
		background: rgb(230, 230, 237);
		color: #777777;
		padding: 5px;
		border-radius: 5px;
		margin-right: 5px;
	}
}

.idea-post--week {
	font-weight: 300;
	font-size: 20px;
	background: rgb(230, 230, 237);
	color: #777777;
	padding: 10px;
	border-radius: 5px;
}
.idea-post-heading {
	color: #37a6ec;
	text-align: center;
}

.idea-post h3 {
	color: #37a6ec;
}
.idea-post .bottom-wrapper{
	border-top: none;
}

.idea-post--cta{
	text-align: center;
	font-size: 22px;
	font-weight: 600;
	color: #37a6ec;
	margin-bottom: 40px;
}

.form-control{
	border-radius: 5px !important;
}